<div class="page" data-page="test">
<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
    <div class="searchbar-input">
        <input type="search" placeholder="Search">
        <a href="#" class="searchbar-clear"></a>
    </div>
    <a class="searchbar-cancel">Cancel</a>
</form>

<!-- Search Bar overlay -->
<div class="searchbar-overlay"></div>
    <div class="page-content">
        <div class="content-block searchbar-not-found">
            Nothing found
        </div>
        <div class="list-block cards-list list-block-search searchbar-found">
            <ul id="msg_list">

            </ul>
        </div>
    </div>
</div>